[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:tsu-nera/dotfiles.git
[submodule "script"]
	path = script
	url = git@github.com:tsu-nera/script.git
[submodule "futurismo"]
	path = futurismo
	url = git@github.com:tsu-nera/futurismo.git
